@model IEnumerable<Discussion>?

@{
    ViewData["Title"] = "Discussions";
}

<div class="text-center">
    <h1 class="display-4">Discussions</h1>
</div>

<div>
    <a asp-controller="Discussion" asp-action="Create" class="nav-link text-dark border border-info rounded shadow px-2" style="width: fit-content; padding: 0px; font-size: 20px;">Create new discussion</a>
</div>

@if(Model == null || Model.Any() == false) {
    <div class="alert alert-primary" role="alert">
        There are no discussions found!
    </div>
}
else {
    foreach (var discussion in Model)
    {
        <div class="card my-3 shadow">
            <div class="card-body bg-primary text-white">
                <a href="/Discussion/Get/@discussion.Id" class="link-light" style="font-size: 20px; font-weight: bold; text-decoration: none">@discussion.Name</a>
                <div class="card w-25 p-1 bg-warning"><label style="font-weight: bold;">Participating users: </label>
                @* @if (!discussion.Users.Any() || discussion.Users == null)
                {
                    <span class="badge badge-secondary text-danger" style="text-align: left; font-size: .90em">NONE</span>
                } *@
                else
                {
                    @* @foreach (var user in discussion.Users)
                    {
                        <span class="badge badge-secondary" style="text-align: left; font-size: .90em">@user.Nickname</span>
                    } *@
                }
                </div>
                
            </div>
        </div>
        <hr/>
    }
}